.App {
  padding: 10px;
  max-width: 60%;
  margin: auto;
}

.App > h1 {
  text-align: center;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.news_container {
  position: relative;
  padding: 1em;
  box-shadow: 0 1px 2px #aeaeae;
}

.close_container {
  position: absolute;
  width: 15;
  height: 15;
  text-align: center;
  line-height: 0.8;
  top: 0;
  right: 0;
  background: red;
  color: #fff;
}

.story_header {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.story_header h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

.story_header h1 > a {
  text-decoration: none;
}

.story_creator {
  display: block;
  font-size: 1rem;
  margin-top: 1rem;
}

.story_image {
  max-width: 20%;
}

.story_image img {
  width: 100%;
}
